//
//  Developmen.xcconfig
//  BankApp
//
//  Created by Вадим Семибратов on 06.06.2025.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
PRODUCT_NAME = BankApp
PRODUCT_BUNDLE_IDENTIFIER = com.company.myapp
DEPLOYMENT_TARGET = 16.0

// Ключи для Info.plist (формат: INFOPLIST_KEY_ИмяКлюча)
INFOPLIST_KEY_NSSpeechRecognitionUsageDescription = Приложение использует голосовой ввод для поиска;
INFOPLIST_KEY_NSMicrophoneUsageDescription = Приложению нужен доступ к микрофону для голосовых команд;
INFOPLIST_KEY_UIBackgroundModes = audio,location

// Флаги компилятора
OTHER_SWIFT_FLAGS = -DDEBUG
INFOPLIST_KEY_CFBundleDisplayName = Nyota Bank
