//
//  Developmen.xcconfig
//  BankApp
//
//  Created by Вадим Семибратов on 06.06.2025.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
PRODUCT_NAME = BankApp
PRODUCT_BUNDLE_IDENTIFIER = com.company.myapp
DEPLOYMENT_TARGET = 16.0

// Ключи для Info.plist (формат: INFOPLIST_KEY_ИмяКлюча)
INFOPLIST_KEY_NSSpeechRecognitionUsageDescription = Приложение использует голосовой ввод для поиска;
INFOPLIST_KEY_NSMicrophoneUsageDescription = Приложению нужен доступ к микрофону для голосовых команд;
INFOPLIST_KEY_UIBackgroundModes = audio,location

// Флаги компилятора
OTHER_SWIFT_FLAGS = -DDEBUG
INFOPLIST_KEY_CFBundleDisplayName = Nyota Bank
// Разрешение на использование камеры
INFOPLIST_KEY_NSCameraUsageDescription = Приложение использует камеру для сканирования документов и фотографий;

// Разрешение на использование Touch ID / Face ID (биометрия)
// Обычно для биометрии отдельного ключа нет, но рекомендуется добавить описание для локальной аутентификации:
INFOPLIST_KEY_NSFaceIDUsageDescription = Приложение использует Face ID для быстрой и безопасной аутентификации;

// Разрешения на использование местоположения
INFOPLIST_KEY_NSLocationWhenInUseUsageDescription = Приложение использует ваше местоположение для отображения ближайших банкоматов и отделений;
INFOPLIST_KEY_NSLocationAlwaysUsageDescription = Приложение может использовать ваше местоположение в фоне для улучшения сервиса;
